# Environment variables
.env
.env.*
docker-compose.yml
!docker-compose.example.yml
!.env.example

# Python
__pycache__/
*.py[cod]
*$py.class
.Python
.pytest_cache/
*.so

# Virtual Environment
venv/
ENV/